
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/




html {
  font-size: 100%;
}

body {
  background: rgb(28, 28, 28);
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
  color: rgba(233, 237, 237, 1);
  
  line-height: 1.5;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'lato', sans-serif;
  color: #F77669;
  font-weight: bold;

  line-height: 1.5;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #82B1FF;
}

p {
  margin: 15px 0;
}

a {
  color: #80CBC4;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #0000FF;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}



// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: #0000FF;
}
::selection {
  color: $white;
  background: #0000FF;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}



// trying something here:
// Scrollbars
html {
  --scrollbarBG: black;
  --thumbBG: #80CBC4;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  border-left: 11px solid black;
  min-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  // background: #bedee280;
  // color: black;
  background: RGB(50,50,50);
  color: #80CBC4;

  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  font-family: inherit;
  font-size: inherit;

}



